{% extends "layout.html.twig" %}

{% block title %} <title>Jérôme Sauvage / Portfolio</title> {% endblock %}

{% block content %}
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Intro -->
        <section class="intro">
            <header>
                <h1>Développeur web</h1>
                <p>Jérôme Sauvage <a class="top" href="https://twitter.com/ajlkn">@siggwer</a> / <a href="#"></a></p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                </ul>
            </header>
            <div class="content">
                <span class="image fill" data-position="center"><img src="/images/img_51.jpg" alt="" /></span>
            </div>
        </section>
        <!-- Section -->
        <section id="first">
            <header>
                <h2>Objectif</h2>
            </header>
            <div class="content">
                {% for objectifs in objectif %}
                    <p><strong>{{ objectifs.content }}</strong></p>
                {% endfor %}
                <span class="image main"><img src="/images/jerome_id_gris2_2.jpg" alt="" /></span>
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h2>Compétences</h2>
            </header>
            <div class="content">
                <p><strong>Retrouver</strong> tout mon savoir faire.</p>
                <ul class="feature-icons">
                    <li class="icon fa-laptop">OS Windows / Linux</li>
                    <li class="icon fa-signal">Reseau TCP/IP / Wifi / VoIp</li>
                    <li class="icon fa-database">MySql / MongoDB</li>
                    <li class="icon fa-code">HTML5 / CSS3 / JS / Jquery / Php</li>
                    <li class="fa-file-code-o">Symfony / BootStrap</li>
                    <li class="icon fa-wpforms">Wordpress / Drupal</li>
                    <li class="icon fa-file-image-o">Photoshop / Illustrator</li>
                    <li class="icon fa-tasks">Gestion de projets</li>
                </ul>
                <p>J'effectue une veille informationnelle et technologique quotidienne.</p>
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h2>Formation</h2>
            </header>
            <div class="content">
                <p><strong>Mes diplomes et formations</strong> qui m'ont apportés les bases indispensables.</p>
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2018-2019</h3>
            </header>
            <div class="content">
                <ul class="alt">
                    <li><i class="icon fa-certificate" aria-hidden="true"></i>
                        Développeur web PHP / SYMFONY OpenClassroom Paris
                    </li>
                </ul>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2016-2017</h3>
            </header>
            <div class="content">
                <ul class="alt">
                    <li><i class="icon fa-graduation-cap" aria-hidden="true"></i>
                        Licence Pro des Métiers de l’Internet Université de Limoges
                    </li>
                </ul>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2013-2016</h3>
            </header>
            <div class="content">
                <ul class="alt">
                    <li><i class="icon fa-graduation-cap" aria-hidden="true"></i>
                        DEUST Webmaster Université de Limoges
                    </li>
                </ul>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2012-2014</h3>
            </header>
            <div class="content">
                <ul class="alt">
                    <li><i class="icon fa-certificate" aria-hidden="true"></i>
                        Certication Programmeur, Internet Webmaster, Développement CNFDI Brunoy
                    </li>
                </ul>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2009</h3>
            </header>
            <div class="content">
                <ul class="alt">
                    <li><i class="icon fa-certificate" aria-hidden="true"></i>
                        Certification administration et Maintenance Windows Server 2003 AIS Nantes
                    </li>
                </ul>
                <hr/>
                <ul class="alt">
                    <li><i class="icon fa-certificate" aria-hidden="true"></i>
                        Certification administration Réseau CISCO CCNA EGILIA Paris
                    </li>
                </ul>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2002</h3>
            </header>
            <div class="content">
                <ul class="alt">
                    <li><i class="icon fa-graduation-cap" aria-hidden="true"></i>
                        Baccalauréat STT ACC Lycée Saint Jean-Baptiste de la Salle Lille
                    </li>
                </ul>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h2>Expériences professionnelles</h2>
                <h3>2009-</h3>
                <!--<p class="top"></p>-->
            </header>
            <div class="content">
                <p><strong>Mes divers activités</strong> mon amené à devenir informaticien et évoluer vers <code>le développement web {...}</code>.</p>
                <hr />
                <p><strong>ESCG Paris</strong></p>
                <pre>Développement Web</pre>
                <blockquote>
                    <ul>
                        <li>Développement d'une application web de ressources documentaires "Marketdigidoc".</li>
                        <code>{Bootstrap/Symfony/MySql/SSL}</code>
                        <li>Développement du site dédié à la 5ème année de spécialisation "Marketing Digital".</li>
                        <code>{Wordpress/Plug-in}</code>
                    </ul>
                </blockquote>
                <hr />
                <pre>Informaticien</pre>
                <blockquote>
                    <ul>
                        <li>Cloud computing conguration et déploiement du domaine avec Google.</li>
                        <li>Administration et Maintenance du réseau et du parc informatique.</li>
                        <li>Déploiement réseau, installation, administration Windows Server 2008 et conguration VPN.</li>
                        <li>Téléphonie VOIP installation, mise en service du déploiement avec Orange Business Service.</li>
                        <li>Assistance aux utilisateurs dans l'usage quotidien des outils informatiques.</li>
                        <li>Conception Réseau, Installation, Conguration.</li>
                    </ul>
                </blockquote>
                <hr />
            </div>
        </section>

        <!-- Section -->
        <section>
            <header>
              <h3>2004-2009</h3>
              <!--<p class="top"></p>-->
            </header>
            <div class="content">
                <p><strong>CEFPA TILLIER</strong></p>
                <pre>Gestionnaire du Parc Informatique</pre>
                <blockquote>
                    <ul>
                        <li>Responsable du Parc Informatique.</li>
                        <li>Topologie et mise en place du réseau.</li>
                        <li>Conception et Développement du site internet.</li>
                    </ul>
                </blockquote>
                <hr />
                <pre>Collaborateur Commercial</pre>
                <blockquote>
                    <ul>
                        <li>Prospection téléphonique.</li>
                        <li>Analyse et identication des clients.</li>
                        <li>Fidélisation de la clientèle.</li>
                    </ul>
                </blockquote>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h3>2003-2004</h3>
                <!--<p class="top"></p>-->
            </header>
            <div class="content">
                <p><strong>Weldom</strong></p>
                <pre>Assistant Commercial</pre>
                <blockquote>
                    <ul>
                        <li>Mise en rayon.</li>
                        <li>Gestion des commandes.</li>
                        <li>Réalisation des inventaires.</li>
                        <li>Analyse et identication des besoins du client.</li>
                        <li>Fidélisation de la clientèle.</li>
                    </ul>
                </blockquote>
                <hr />
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h2>Portfolio</h2>
            </header>
            <div class="content">
                <p><strong>Visitez</strong>
                    mes réalisations professionnelles et personnelles.
                </p>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Marketdigidoc</h3>
                        <p class="top">Proposition et participation à la création d'une application de ressources documentaires destinée aux étudiants de l'ESCG Paris dont la nécessité est croissante.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>BootStrap</li>
                            <li>Symfony</li>
                            <li>MySql</li>
                            <li>SSL</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/images_page_entiere/img_22.jpg" class="landscape"><img src="/images/img_22.jpg" alt="Marketdigidoc" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="#" class="button primary large disabled" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Actuellement en cours de refonte.}</code>
                        </p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Association Le Souvenir Franco Polonais</h3>
                        <p class="top">Participation à la communication web de l'association Le Souvenir Franco-Polonais.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>WordPress / Plug-in</li>
                            <li>Contact Form</li>
                            <li>BackupWP</li>
                            <li>Paypal</li>
                            <li>SSL</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/sfp.png" class="landscape"><img src="/images/sfp.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="https://www.sfp.alexandraplesniak.fr/" class="button primary large" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Développement du back-end sur Wordpress.}</code>
                        </p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Le Marketing Digital</h3>
                        <p class="top">Participation à l'amélioration de la nouvelle filière cinquième année Marketing Digitale de l'ESCG Paris.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>WordPress / Plug-in</li>
                            <li>Contact Form</li>
                            <li>BackupWP</li>
                            <li>SSL</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/Marketingdigital.png" class="landscape"><img src="/images/Marketingdigital.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="https://www.marketingdigitalescg.jeromesauvage.fr/" class="button primary large" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Développement du site et mise à jour.}</code></p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Snow Tricks</h3>
                        <p class="top">Projet individuel réalisé chez OpenClassrooms.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>BootStrap</li>
                            <li>Symfony</li>
                            <li>Mysql</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/Snowtricks470x480.png" class="landscape"><img src="/images/Snowtricks470x480.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="#" class="button primary large disabled">Visiter</a></li>
                        </ul>
                        <code>{Développement en cours.}</code>
                        </p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Blog</h3>
                        <p class="top">Projet individuel réalisé chez OpenClassrooms.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>Middleware</li>
                            <li>BootStrap</li>
                            <li>Middleware</li>
                            <li>Php-di</li>
                            <li>Mysql</li>
                            <li>Twig</li>
                            <li>Php</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/Blog470x480.png" class="landscape"><img src="/images/Blog470x480.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="#" class="button primary large disabled">Visiter</a></li>
                        </ul>
                        <code>{Visuel bientôt disponible.}</code></p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Express Food</h3>
                        <p class="top">Projet individuel réalisé chez OpenClassrooms.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>StartUml</li>
                            <li>Uml</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/Express_food.jpg" class="landscape"><img src="/images/Express_food.jpg" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="https://github.com/siggwer/Concevez-la-solution-technique-d-une-application-de-restauration-en-ligne-Express-Food" class="button primary large" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Réalisation des diagrammes UML.}</code></p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Festival de films</h3>
                        <p class="top">Projet individuel réalisé chez OpenClassrooms.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>Maquettage</li>
                            <li>BootStrap</li>
                            <li>HTML5</li>
                            <li>CSS3</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/Festival_de_films_470x480.png" class="landscape"><img src="/images/Festival_de_films_470x480.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="https://projetsetudes.jeromesauvage.fr/festivaldefilm/" class="button primary large" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Développement du site.}</code></p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Châlets et Caviar</h3>
                        <p class="top">Projet individuel réalisé chez OpenClassrooms.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>Analyse du besoin</li>
                            <li>Rédaction d'une documentation</li>
                            <li>Wordpress</li>
                            <li>Plug-in adapté</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/Chalet_et _Caviar_800x533.png" class="landscape"><img src="/images/Chalet_et _Caviar_800x533.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="https://www.opcl.jeromesauvage.fr/" class="button primary large" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Développement du site.}</code></p>
                    </div>
                </section>
                <!-- Section -->
                <section>
                    <header>
                        <h3>Ilinkedin</h3>
                        <p class="top">Projet en équipe Ilinkedin réalisé à l'université de Limoges.
                        <h4>Developpement</h4>
                        <ul class="top">
                            <li>Analyse du besoin</li>
                            <li>Html5</li>
                            <li>CSS3</li>
                        </ul>
                        </p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="/images/ilinkedin800x533.png" class="landscape"><img src="/images/ilinkedin800x533.png" alt="" /></a>
                        </div>
                        <p>
                        <ul class="actions">
                            <li><a href="https://projetsetudes.jeromesauvage.fr/ilinkedin/" class="button primary large" target="_blank">Visiter</a></li>
                        </ul>
                        <code>{Développement en équipe du site.}</code></p>
                    </div>
                </section>
            </div>
        </section>
        <!-- Section -->
        <section>
            <header>
                <h2>En savoir plus</h2>
            </header>
            <div class="content">
                <p><strong>Consultez</strong> mon CV et n'hésitez pas à me contacter.</p>
                <ul class="actions">
                    <li><a href="/other/cv.pdf" class="button primary large" target="_blank"><i class="icon fa-download"></i> Télécharger</a></li>
                    <li><a href="#contact" class="button large">Commençons</a></li>
                </ul>
            </div>
        </section>

        <!-- Section -->
        <section id="contact">
            <header>
                <h2>Contact</h2>
            </header>
            <div class="content">
                <p><strong>Besoin</strong> d'un complément d'information, n'hésitez pas à me contacter.</p>
                <form name="sentMessage" id="contactForm" novalidate method="post" action="/">
                    <input type="hidden" name="__csrf" id="__csrf" value="{{ __csrf }}" />
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Envoyer" class="button primary"/></li>
                    </ul>
                </form>
            </div>
            <footer>
                <ul class="items">
                    <li>
                        <h3>Email</h3>
                        <a class="top" href="#">jerome.sauvage@etu.unilim.fr</a>
                    </li>
                    <!--<li>
                      <h3>Phone</h3>
                      <a class="top" href="#">(000) 000-0000</a>
                      </li>-->
                    <!--<li>
                      <h3>Address</h3>
                       <span>1234 Somewhere Road, Nashville, TN 00000</span>
                      </li>-->
                    <li>
                        <h3>Social</h3>
                        <ul class="icons top">
                            <li><a href="https://twitter.com/siggwer" class="icon fa-twitter top" target="_blank"><span class="label">Twitter</span></a></li>
                            <!--<li><a href="#" class="icon fa-facebook top"><span class="label" target="_blank">Facebook</span></a></li>-->
                            <!--<li><a href="#" class="icon fa-instagram top"><span class="label" target="_blank">Instagram</span></a></li>-->
                            <li><a href="https://www.linkedin.com/in/jeromesauvage/" class="icon fa-linkedin top" target="_blank"><span class="label">LinkedIn</span></a></li>
                            <li><a href="https://github.com/siggwer" class="icon fa-github top" target="_blank"><span class="label">GitHub</span></a></li>
                            <!--<li><a href="#" class="icon fa-codepen top" target="_blank"><span class="label">Codepen</span></a></li>-->
                        </ul>
                    </li>
                </ul>
            </footer>
        </section>
        <!-- Copyright -->
        <div class="copyright">&copy; Untitled. All rights reserved. Design:
            <a href="https://html5up.net">HTML5 UP</a>.
            <!--<a href="#">Administration</a>-->
        </div>
    </div>

{% endblock %}
