{% extends "layout.html.twig" %}

{% block title %}
    <title>404</title>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <h1 class="text-center">404 Not Found</h1>
    <img class="img404 text-center" src="/img/404.png">
</div>
{% endblock %}
